.scroll {
  padding-top: 15vh;
  background-color: var(--light-blue);
}

.main {
  background-color: var(--light-blue);
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--violet);

  .title {
    padding-top: 5%;
    font-size: 4rem;

    @media (max-width: 600px) {
      font-size: 3rem;
      max-width: 80%;
    }

    @media (max-width: 412px) {
      font-size: 1.5rem;
      max-width: 80%;
    }

    @media (max-width: 376px) {
      font-size: 1.3rem;
      max-width: 90%;
    }
  }

  .wrapper {
    display: flex;
    margin-top: 5%;
    width: 80%;
    justify-content: space-between;

    @media (max-width: 375px) {
      width: 90%;
    }

    .card {
      width: 20%;
      text-align: center;

      .imgWrapper {
        position: relative;
        height: 50%;
      }

      .cardTitle {
        margin-top: 2em;
        font-size: 1.5rem;

        @media (max-width: 1536px) {
          font-size: 1.5rem;
        }

        @media (max-width: 1280px) {
          font-size: 1.4rem;
        }

        @media (max-width: 1024px) {
          font-size: 1.3rem;
        }

        @media (max-width: 940px) {
          font-size: 1.2rem;
        }

        @media (max-width: 812px) {
          font-size: 1.1rem;
        }

        @media (max-width: 768px) {
          font-size: 1rem;
        }

        @media (max-width: 600px) {
          font-size: 0.8rem;
        }

        @media (max-width: 412px) {
          font-size: 0.7rem;
        }

        @media (max-width: 376px) {
          font-size: 0.5rem;
        }
      }

      .cardText {
        font-size: 1.12;
        margin-top: 1em;
        font-weight: 600;
        line-height: 1.68em;

        @media (max-width: 1537px) {
          font-size: 1.1rem;
        }

        @media (max-width: 1280px) {
          font-size: 1.2rem;
        }

        @media (max-width: 1024px) {
          font-size: 1.1rem;
        }

        @media (max-width: 940px) {
          font-size: 1rem;
        }

        @media (max-width: 812px) {
          font-size: 0.9rem;
        }

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }

        @media (max-width: 600px) {
          font-size: 0.6rem;
        }

        @media (max-width: 412px) {
          font-size: 0.5rem;
        }

        @media (max-width: 376px) {
          font-size: 0.4rem;
        }
      }
    }
  }
}
