.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 15vh;

  .logoWrapper {
    margin-left: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;

    .item {
      cursor: pointer;
      margin-left: 2.06em;

      &:focus {
        color: var(--violet);
      }

      &:hover {
        color: var(--violet);
      }
    }

    @media (max-width: 812px) {
      display: none;
    }
  }

  .hamburguerMenu {
    display: none;
    margin-right: 10%;

    @media (max-width: 812px) {
      display: block;

      .hamburguer {
        font-size: 2rem;
      }
    }
  }

  .hamList {
    position: absolute;
    top: 15vh;
    right: 0;
    background-color: white;

    .hamItem {
      padding: 1em;
    }
  }
}

.active {
  color: var(--violet);
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}
