.break {
  background-color: var(--light-grey);
  height: 200px;
}

.lightBlue {
  background-color: var(--light-blue);
}

.budget {
  height: 200px;
  background: linear-gradient(
    252.33deg,
    rgba(44, 89, 158, 0.7) -3.88%,
    rgba(42, 29, 107, 0.7) 104.13%
  );
  opacity: 0.4;
  display: flex;
  justify-content: center;
}
