.wrapper {
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  .titleWrapper {
    max-width: 50%;
    position: relative;
    text-align: center;
    font-size: 6rem;

    @media (max-width: 812px) {
      font-size: 2.5rem;
      max-width: 70%;
    }

    @media (max-width: 375px) {
      font-size: 1.4rem;
      max-width: 80%;
    }

    .title {
      line-height: 1.21em;

      font-weight: 900;
      color: white;
    }
  }
}
