.scroll {
  padding-top: 15vh;
}

.wrapper {
  height: 85vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--violet);

  .textWrapper {
    max-width: 50%;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    @media (max-width: 1024px) {
      max-width: 80%;
    }

    @media (max-width: 812px) {
      max-width: 70%;
    }

    .title {
      line-height: 1.21em;
      font-size: 3rem;
      font-weight: 900;

      @media (max-width: 1536px) {
        font-size: 2.8rem;
      }

      @media (max-width: 1280px) {
        font-size: 2.7rem;
      }

      @media (max-width: 1024px) {
        font-size: 2.6rem;
      }

      @media (max-width: 940px) {
        font-size: 2.5rem;
      }

      @media (max-width: 812px) {
        font-size: 2.4rem;
      }

      @media (max-width: 768px) {
        font-size: 2.3rem;
      }

      @media (max-width: 600px) {
        font-size: 2.2rem;
      }

      @media (max-width: 412px) {
        font-size: 2.1rem;
      }

      @media (max-width: 376px) {
        font-size: 2rem;
      }
    }

    .text {
      font-size: 2.25rem;
      line-height: 1.5em;

      @media (max-width: 1536px) {
        font-size: 2rem;
      }

      @media (max-width: 1280px) {
        font-size: 1.9rem;
      }

      @media (max-width: 1024px) {
        font-size: 1.8rem;
      }

      @media (max-width: 940px) {
        font-size: 1.7rem;
      }

      @media (max-width: 812px) {
        font-size: 1.6rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }

      @media (max-width: 600px) {
        font-size: 1.4rem;
      }

      @media (max-width: 412px) {
        font-size: 1.3rem;
      }

      @media (max-width: 376px) {
        font-size: 1.2rem;
      }
    }
  }
}

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    252.33deg,
    rgba(44, 89, 158, 0.7) -3.88%,
    rgba(42, 29, 107, 0.7) 104.13%
  );
  opacity: 0.4;
  display: flex;
  justify-content: center;
}
