.wrapper {
  min-height: 30vh;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--grey);

  .title {
    font-size: 1.125rem;
    font-weight: 700;

    @media (max-width: 1536px) {
      font-size: 1.1rem;
    }

    @media (max-width: 1280px) {
      font-size: 1.1rem;
    }

    @media (max-width: 1024px) {
      font-size: 1rem;
    }

    @media (max-width: 940px) {
      font-size: 1rem;
    }

    @media (max-width: 812px) {
      font-size: 0.9rem;
    }

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }

    @media (max-width: 412px) {
      font-size: 0.8rem;
    }

    @media (max-width: 376px) {
      font-size: 0.7rem;
    }
  }

  .text {
    font-size: 0.87rem;
    line-height: 1.31em;

    @media (max-width: 1536px) {
      font-size: 0.8rem;
    }

    @media (max-width: 1280px) {
      font-size: 0.7rem;
    }
  }
}
