.contactButton {
  position: fixed;
  bottom: 5%;
  right: 5%;
  float: right;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: white;
  color: var(--blue);
  padding: 1em 4.27em;
  border-radius: 15px;
  border: 1px solid var(--violet);

  @media (max-width: 1536px) {
    font-size: 1rem;
  }

  @media (max-width: 1280px) {
    font-size: 0.9rem;
  }

  @media (max-width: 1024px) {
    font-size: 0.9rem;
  }

  @media (max-width: 940px) {
    font-size: 0.9rem;
  }

  @media (max-width: 812px) {
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 600px) {
    font-size: 0.6rem;
  }
}
