html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  --violet: #2a1d6b;
  --blue: #2c599e;
  --light-blue: #c9e6f4;
  --grey: #555454;
  --light-grey: #e5e5e5;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  display: block;
}
